- name: Install k3s control-plane
  shell: |
    curl -sfL https://get.k3s.io | INSTALL_K3S_EXEC="--disable traefik --disable servicelb --disable local-storage" sh -
  args:
    executable: /bin/bash
    creates: /usr/local/bin/k3s

- name: Set kubeconfig permissions to 0644
  file:
    path: /etc/rancher/k3s/k3s.yaml
    mode: '0644'
  become: true

- name: Ensure kube directory exists
  file:
    path: '/home/{{ ansible_user }}/.kube'
    state: directory
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0755'
  become: true

- name: Copy kubeconfig for default user
  copy:
    src: /etc/rancher/k3s/k3s.yaml
    dest: '/home/{{ ansible_user }}/.kube/config'
    owner: '{{ ansible_user }}'
    group: '{{ ansible_user }}'
    mode: '0644'
    remote_src: true
  become: true
