- name: Add host keys to known_hosts
  hosts: all
  gather_facts: false
  tasks:
    - name: Add each host key to localhost known_hosts
      known_hosts:
        name: '{{ ansible_host | default(inventory_hostname) }}'
        state: present
        key: "{{ lookup('pipe', 'ssh-keyscan -T 5 -H ' + (ansible_host | default(inventory_hostname))) }}"
      delegate_to: localhost

- name: Setup Control Plane Node
  hosts: k62s-control-plane
  become: true
  roles:
    - ../roles/base
    - ../roles/k3s
    - ../roles/control-plane

- name: Setup Worker Node 1
  hosts: k62s-worker-1
  become: true
  roles:
    - ../roles/base
    - ../roles/k3s
    - ../roles/worker

- name: Setup Kiosk Node 1
  hosts: k62s-kiosk-1
  become: true
  roles:
    - ../roles/base
    - ../roles/kiosk
